*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Passion";
    src: url("PassionOne-Regular.ttf");
}
@font-face {
    font-family: "Sriracha";
    src: url("Sriracha-Regular.ttf");
}
header{
    background-color: black;
    color: white;
    min-height: 300px;
    align-content: center;
    text-align: center;
}
body{
    background-color: rgb(216, 219, 219);
}
main{
    max-width: 1000px;
    margin: auto;
}
h1{
    font-size: 10vw;
    font-family: "Passion";
}
.h1{
    font-family: Arial, Helvetica, sans-serif
;
}
.Milton { /* Resolver problema do link no cabeçalho */
    text-decoration: none;
    color: white;
}
p{
    padding: 8px;
    font-size: 3vw;
    font-family: "Sriracha";
}
section{
    box-shadow: 0 2px 8px 1px black;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-indent: 30px;
}
.parte3 > article,.parte6 > article {
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 300px;
}
.parte1{
    min-height: 400px;
    font-weight: bold;
    align-content: center;
}
.parte3{
    min-height: 400px;
    font-weight: bold;
    align-content: center;
    background-image: url("imagens/background001.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 400px;
    color: white;
}
.parte4{
    min-height: 400px;
    font-weight: bold;
    align-content: center;
}
.parte6{
    min-height: 400px;
    font-weight: bold;
    align-content: center;
    background-image: url("imagens/background002.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 400px;
    color: white;
}
.parte7{
    min-height: 400px;
    font-weight: bold;
    align-content: center;
}
footer{
    background-color: black;
    min-height: 40px;
    color: rgb(141, 141, 236);
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}